Mule Services/lifelineapi/src/main/app/lifelineapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config port="8085" host="localhost" name="HTTP_Shared" />
    <apikit:config name="LifelineAPIRouter" raml="Lifeline.raml" consoleEnabled="true" consolePath="console" doc:name="Router">
        <apikit:flow-mapping resource="/getUser" action="get" flow-ref="get/getUser:lifeline-config"/>
    </apikit:config>
    <spring:beans>
        <spring:bean id="lifeline" name="LifelineBean" class="lifelineapi.UserApi" init-method="initialize"/>
    </spring:beans>
    <flow name="lifelineapiFlow">
        <http:listener config-ref="HTTP_Shared" path="/*" doc:name="HTTP"/>
        <apikit:router config-ref="LifelineAPIRouter" doc:name="APIkit Router"/>
    </flow>
    <flow name="get/getUser:lifeline-config">
        <expression-component doc:name="CallAPI"><![CDATA[payload = app.registry['lifeline'].getUser(message.inboundProperties['http.query.params'].userid)]]></expression-component>
        <logger level="INFO" doc:name="Logger" message="#[payload]"/>
    </flow>
</mule>
